*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px dotted magenta;
}

body{
    background-color: #202443;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #2E325C;
}

footer{
    background-color: #2E325C;
}

.love{
    color:red;
}
.video{
    padding: 10px 0;
}