@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CAB8FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* CARD 1 */

.titulo{
    margin: 25px 0;
}
.titulo p{
    color: #99154E;
    font-family:'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.titulo h1{
    color: #11324D;
}

/* CARD 2 */
.video{
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.love{
    color:crimson;
}

/*MENSAJE*/
.showMessage button{
    padding: 0 10px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    border: 1px dotted crimson;
    border-radius: 100%;
    color: #D91438;
    background-color: #FFF587;

}

.showMessage button:hover{
    background-color: #FF8C64;
    border: 1px solid #2E038C;
}

/* PHASE */
#phrase{
    padding:10px 30px 20px 30px;
}
#firstMsg{
    color: #2E038C;
    font-size: 22px;
    font-weight: 600;
}
#secondMsg{
    color: #F20587;
    font-size: small;
    font-weight: 600;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
    margin: 25px 0;
}


.msg p{
    color: #6f7181;
    font-size: 14px;
    font-weight: 500;
}
